<!DOCTYPE html>
<html>

<head>
  {{> analytics}}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> favicon}}
  {{> css}}
  {{> cookieConsentStyles}}
</head>

<body>
  {{> header}}
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col">
        <div class="jumbotron jumbotron-fluid m-0"
          style="background-image: url('img/about-collage.jpg');background-position:50% 0%;background-size:cover;height:600px;">
        </div>
      </div>
    </div>
    <div class="row py-4 bg-visalia text-white">
      <div class="col text-center">
        <div class="container">
          <h1 class="display-2">The Community</h1>
          <p class="h5 extra-height">
            Park Visalia offers exemplary services and amenities, with a professional care staff to accommodate
            our residents’ individual needs. We encourage residents to eat well, make new friends, seek out creative
            pursuits, refine skills, revisit old hobbies and discover new passions.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row py-4">
        <div class="col-sm-6">
          <p class="h2 p-4">Services Included in the Monthly Fee</p>
          <ul>
            <li>Three delicious meals daily, plus snacks</li>
            <li>24-hour on-site staffing</li>
            <li>Regularly scheduled resident assessments for care plans</li>
            <li>Weekly housekeeping and laundry service</li>
            <li>All utlities (except phone) including basic cable TV</li>
            <li>Emergency response system (24-hours a day)</li>
            <li>Full calendar of social, cultural, fitness and recreational programs and activities</li>
            <li>Interior and exterior maintenance of all common areas, residences and grounds</li>
            <li>Scheduled group transportation</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <p class="h2 p-4">Community Features and Amenities</p>
          <ul>
            <li>Restaurant-style dining</li>
            <li>Entertainment in our multi-purpose areas</li>
            <li>Outdoor space and gardens</li>
            <li>Salon and barber services</li>
            <li>Wi-Fi equipped throughout the community</li>
            <li>Scheduled transportation for medical appointments</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row py-4">
      <div class="col">
        <div class="jumbotron jumbotron-fluid d-flex align-items-center"
          style="background-image: url('img/food.jpg');background-position:center 100%;background-size:cover;height:600px;">
          <div class="container text-white p-4 text-center" style="background-color: rgba(0,0,0,0.5);">
            <p class="display-1">Dining Options</p>
            <p class="extra-height">Our team at Park Visalia is committed to providing a nurturing and
              satisfying dining experience with freshly prepared meals with dining options and choices. Special requests
              are welcomed for individual dietary needs. Healthy snacks are also included.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="container">
          <p class="extra-height">Park Visalia excels in daily engagement with variety, movement, purpose,
            passion and social connections. Our lifestyle program is guided by five core elements:</p>
          <ul>
            <li><span class="h5">MOVE</span> - Our environment encourages residents to be active, keep moving and get
              involved in the community.</li>
            <li><span class="h5">ENGAGE</span> - We encourage physical, mental, social and spiritual development within
              a supportive environment. Our community and holistic programs are specifically designed to promote
              personal engagement in an active life.</li>
            <li><span class="h5">FEEL</span> - We surround ourselves with people who support positive behaviors and
              provide options to better the mind and body.</li>
            <li><span class="h5">CONNECT</span> - We believe communicating among residents, families and staff is
              essential.</li>
            <li><span class="h5">EAT</span> - Fresh ingredients prepared well provide what everyone needs to enjoy
              living each day with joy, purpose and pleasure.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{> scripts}}
  {{> footer}}
</body>

</html>