<!DOCTYPE html>
<html>

<head>
  {{> analytics}}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> favicon}}
  {{> css}}
</head>

<body>
  {{> header}}
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col">
        <div class="jumbotron jumbotron-fluid d-flex align-items-center m-0" style="background-image: url('img/activities.jpg');background-position:center;background-size:cover;height:600px;"></div>
      </div>
    </div>
    <div class="row bg-visalia">
      <div class="col">
        <div class="container text-center text-white pb-4">
          <p class="display-2">Events and Activities</p>
          <p class="extra-height">Park Visalia hosts engaging social recreational events and activities for our residents. Fun day-trips and excursions keep life bright and happy for our entire community. Check in with us here for news and upcoming events.</p>
          <div class="row">
            <div class="col-sm-6 mt-4">
              <a target="_blank" href="img/calendars/2020-april-al.pdf"><button class="btn btn-lg btn-light">Click to see the April Assisted Living calendar</button></a>
            </div>
            <div class="col-sm-6 mt-4">
              <a target="_blank" href="img/calendars/2020-april-mc.pdf"><button class="btn btn-lg btn-light">Click to see the April Memory Care calendar</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> scripts}}
  {{> footer}}
</body>

</html>