<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> favicon}}
  {{> css}}
</head>

<body>
  {{> header}}
  <div class="container-fluid p-0">
    <div class="jumbotron jumbotron-fluid mb-0"
      style="background-image: url('img/assisted-living-1.jpg');background-position:center 70%;background-size:cover;height:600px;">
    </div>
    <div class="row bg-visalia text-white">
      <div class="col">
        <div class="container pb-4 text-center">
          <p class="display-1">Assisted Living</p>
          <p class="extra-height">At Park Visalia, we give our residents the freedom to live the life they
            want with the peace of mind that comes with knowing helping hands are never far away. An inspired blend of
            modern convenience and care makes Park Visalia a place where the entire community can easily
            interact, enjoy each other’s company and be energized by the beauty and vitality of life.</p>
          <a target="_blank" href="https://spark.adobe.com/page/TWTsA5yru5SBu/"><button
              class="btn btn-lg btn-light">View E-Brochure</button></a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-4">
        <div class="col">
          <p class="display-4">Well Being is Vital</p>
          <p class="extra-height">At Park Visalia, we believe that nurturing the mind, body and spirit is a
            necessity for any well-balanced lifestyle. Each resident is given an assessment by a licensed nurse to
            better understand their needs and answer questions. Our capable staff is trained in therapeutic methods and
            programs designed to help memory care residents reconnect with favorite memories, pastimes and routines.</p>
          <p class="extra-height">Park Visalia Memory Care is uniquely suited to care for seniors with
            Alzheimer's or other forms of dementia in a specially designed and secured neighborhood.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="display-4">Freedom to Choose</p>
          <p class="extra-height">Our community members come from all walks of life, with passions and interests as
            varied as they are. We take the time to get to know each of our residents and staff, then carefully plan our
            programs to provide activity and entertainment options based on their interests, routines and abilities. We
            encourage each of our community members to connect and engage with each other, share their unique passions
            and life experiences, and to explore and discover new interests together.</p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="jumbotron jumbotron-fluid d-flex align-items-center"
          style="background-image: url('img/memory-care-2.jpg');background-position:center;background-size:cover;height:600px;">
          <div class="container p-4 text-white text-center" style="background-color:rgba(0,0,0,0.5);">
            <p class="display-1">Carefree Lifestyle</p>
            <p class="extra-height">Park Visalia residents enjoy a lifestyle that puts many of life’s simple
              pleasures within easy reach. A relaxing cup of tea in the outdoor courtyard, a movie or card game with
              friends, delicious meals prepared by our professional chefs and more can be enjoyed daily. Our staff aims
              to anticipate and accommodate the needs of each resident, freeing them to pursue those simple pleasures
              that define the Park Visalia experience.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="display-4">People Caring for your Needs</p>
          <p class="extra-height">Our entire staff is committed to pursuing the highest quality of life for every
            resident. Staff is available day and night, so if residents need assistance with escorting, eating, bathing,
            personal care, medication management, dressing or other daily activities, we are here to help. Our community
            is equipped with an emergency call system that can alert caregivers and a licensed nurse.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 p-0">
          <p class="display-4">Services and Amenities</p>
        </div>
        <div class="col-sm-6">
          <ul>
            <li>Three delicious meals daily, plus snacks</li>
            <li>24-hour on-site staffing</li>
            <li>Regularly scheduled resident assessments for care plans</li>
            <li>Weekly housekeeping and laundry service</li>
            <li>All utilities (except phone) including basic cable TV</li>
            <li>Emergency response system (24-hours a day)</li>
            <li>Full calendar of socual, cultural, fitness and recreational programs and activities</li>
            <li>Interior and exterior maintenance of all common areas, residences and grounds</li>
            <li>Scheduled group transportation</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <li>Restaurant-style dining</li>
            <li>Entertainment in our multi-purpose areas</li>
            <li>Outdoor space and gardens</li>
            <li>Salon and barber services</li>
            <li>Pet-friendly community</li>
            <li>Wi-Fi- equipped throughout the community</li>
            <li>Respite (short term stay) care available for assisted living</li>
            <li>Scheduled transportaton for shopping and medical appointments</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{> scripts}}
  {{> footer}}
</body>

</html>