<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> favicon}}
  {{> css}}
</head>

<body>
  {{> header}}
  <div class="container">
    <div class="row my-4">
      <div class="col my-4">
        <p class="lead">Dear family and friends,</p>
        <p class="lead">For the most current updated information on COVID-19 please click on the links below for the CDC and
          State/Local health agencies.</p>
        <p class="h4 my-4"><span class="font-weight-bold text-uppercase">CDC: </span> <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html"
            target="_blank">https://www.cdc.gov/coronavirus/2019-ncov/index.html</a></p>
        <p class="h4 my-4"><span class="font-weight-bold text-uppercase">State HHS: </span><a
            href="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/Immunization/ncov2019.aspx"
            target="_blank">https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/Immunization/ncov2019.aspx</a></p>
        <p class="h4 my-4"><span class="font-weight-bold text-uppercase">Local City or County Health: </span><a href="https://www.acgov.org/" target="_blank">https://www.acgov.org/</a></p> 
      </div>
    </div>
  </div>
  {{> scripts}}
  {{> footer}}
</body>

</html>