<!DOCTYPE html>
<html>

<head>
  {{> analytics}}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> favicon}}
  {{> css}}
  {{> cookieConsentStyles}}
</head>

<body>
  {{> header}}
  <div class="container">
    <div class="row my-4">
      <div class="col my-4">
        <p class="display-4 text-center">A Message from Carefield Living</p>
        <p>In these challenging times, our highest priority at Carefield Living is to serve our communities and to
          protect to the best of our ability, our residents, their families and our staff. We want to continue to share
          with you the prudent measures that we are taking to safeguard our communities at large, as we stay focused on
          the task of providing a high quality of comfort and care for our residents.</p>
        <p>As always, our tireless, hard-working staff is determined to make sure that our residents are happy and
          healthy. Residents can expect round-the-clock care and service from trusted professionals. We are practicing
          social distancing as prescribed by the Center for Disease Control (CDC), but our residents, their families and
          our staff should not feel isolated from each other. Our communities are committed to providing safer ways to
          keep our residents connected and to stay active.</p>
        <p>We are creating new activities for our residents to keep them engaged and enjoying their life. We are helping
          them communicate with loved ones via FaceTime, Skype and social media; sending cards and letters, and speaking
          by telephone as often as possible. We strive to prevent loneliness and isolation at every turn. We are
          fostering a true spirit of friendship and togetherness.</p>
        <p>Our communities continue to serve healthy, delicious meals with modified hours and safe distancing, as well
          as room service.</p>
        <p>Carefield Living communities are following the guidelines as proposed by CDC:</p>
        <ul>
          <li>No visitors will be permitted at the communities. If you have a loved one that is unfortunately at the end
            stages of life, you will be allowed to visit the resident, one person at a time.</li>
          <li>Screening and temperature monitoring for each resident and staff member will be conducted and tracked
            daily. Each staff member is monitored at the beginning of each shift.</li>
          <li>All communal dining of 10 or more people has been put on hold. The meals served in the dining room are
            only provided to smaller groups with proper social distancing between residents diligently maintained.</li>
          <li>All large group activities have been postponed.</li>
          <li>We are providing hands-on assistance to anyone needing help to stay connected to their loved ones.</li>
          <li>Personal hygiene requirements for staff and residents have been increased.</li>
          <li>We are cleaning and disinfecting all areas of the community with increased diligence.</li>
        </ul>
        <p><em>With an abundance of caution and subject to rigorous pre-screening, we are continuing to admit new
            residents in need of the services and the support that our communities provide. Please note that as of Tuesday, June 23,
            we do not have any residents or staff members that have been diagnosed with the COVID-19.</em></p>
        <p>Carefield Living is committed to the well-being of our residents and our associates. We will continue to keep
          you informed as we navigate these challenging times. While our daily lives are surely changing, our spirits
          remain high. We are hopeful about the future and as always, we want to stay in close touch with you. Although
          we are currently unable to offer in person visits or tours of our Carefield Living communities, we are looking
          forward to connecting with you on a phone call, email or via social media.</p>
        <p>At Carefield Living, we want to be a resource for you and your family, and we encourage you to reach out to
          us at any time with any questions or concerns that you may have. We are always here for you.</p>
        <p>Finally, I would like to personally thank the dedicated staff and support team at our Carefield Living
          communities. Every day we are awed by the selfless acts of kindness, care and support that you perform for the
          benefit of our residents and their loved ones. You are an inspiration for us all.</p>
        <p>Please be safe and keep the faith!</p>

        <p>
          Steve Barklis<br />
          Managing Partner<br />
          Carefield Living
        </p>

        <p>
          <a href="mailto:sbarklis@carefieldliving.com">sbarklis@carefieldliving.com</a><br />
          858-259-5591
        </p>

        <p><a href="https://carefieldliving.com" target="_blank">www.carefieldliving.com</a></p>

        <p>For the most current updated information on COVID-19 please click on the links below for the CDC and
          State/Local health agencies.</p>
        <p class="h4 my-4"><span class="font-weight-bold text-uppercase">CDC: </span> <a
            href="https://www.cdc.gov/coronavirus/2019-ncov/index.html"
            target="_blank">https://www.cdc.gov/coronavirus/2019-ncov/index.html</a></p>
        <p class="h4 my-4"><span class="font-weight-bold text-uppercase">State HHS: </span><a
            href="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/Immunization/ncov2019.aspx"
            target="_blank">https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/Immunization/ncov2019.aspx</a></p>
        <p class="h4 my-4"><span class="font-weight-bold text-uppercase">Local City or County Health: </span><a
            href="https://tchhsa.org/eng/index.cfm/public-health/covid-19-updates-novel-coronavirus/" target="_blank">https://tchhsa.org/eng/index.cfm/public-health/covid-19-updates-novel-coronavirus/</a></p>
      </div>
    </div>
  </div>
  {{> scripts}}
  {{> footer}}
</body>

</html>
