<!DOCTYPE html>
<html>

<head>
  {{> analytics}}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> favicon}}
  {{> css}}
</head>

<body>
  <!-- #TODO Floor Plans -->
  {{> header}}
  <h1>Floor Plans</h1>
  {{> scripts}}
  {{> footer}}
</body>

</html>