<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> favicon}}
  {{> css}}
</head>

<body>
  {{> header}}
  <div class="container-fluid p-0">
    <div class="jumbotron jumbotron-fluid mb-0"
      style="background-image: url('img/gallery/visalia-memory-care.jpg');background-position:center 70%;background-size:cover;height:600px;">
    </div>
    <div class="row bg-visalia text-white">
      <div class="col">
        <div class="container pb-4 text-center">
          <p class="display-1">Memory Care</p>
          <p class="extra-height">Our passion is to create an environment where personal well-being is at the the center
            of everything that we do. Park Visalia's memory care community is designed to help residents with
            Alzheimer's, dementia and other forms of memory loss overcome many of the unique challenges they face in
            everyday life.</p>
          <a target="_blank" href="https://spark.adobe.com/page/OdDIkYE0ygycy/"><button
              class="btn btn-lg btn-light">View E-Brochure</button></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="jumbotron jumbotron-fluid d-flex align-items-center"
          style="background-image: url('img/memory-care-2.jpg');background-position:center;background-size:cover;height:600px;">
          <div class="container p-4 text-white text-center" style="background-color:rgba(0,0,0,0.5);">
            <p class="display-1">A Life Well Lived</p>
            <p class="extra-height">At Park Visalia, our staff is trained to respect our residents' dignity,
              independence and individuality. We take the time to learn about a resident's life experiences, favorite
              activities and daily routine to encourage their strengths and capabilities. Above all, we assist them with
              their needs in a loving and dignified manner.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="display-4">Well Being is Vital</p>
          <p class="extra-height">At Park Visalia, we believe that nurturing the mind, body and spirit is a
            necessity for any well-balanced lifestyle. Each resident is given an assessment by a licensed nurse to
            better understand their needs and answer questions. Our capable staff is trained in therapeutic methods and
            programs designed to help memory care residents reconnect with favorite memories, pastimes and routines.</p>
          <p class="extra-height">Park Visalia Memory Care is uniquely suited to care for seniors with
            Alzheimer's or other forms of dementia in a specially designed and secured neighborhood.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="display-4">Community Life Enhances Life</p>
          <p class="extra-height">Building relationships and connecting with other members of the community is an
            essential part of life at Park Visalia. We encourage residents to participate in activites,
            enhancing their sense of accomplishment and satisfaction by keeping them involved and active in their
            everyday lives.</p>
          <ul>
            <li>Lovely, secure outdoor areas and shaded patio to enjoy the outdoors</li>
            <li>Trained staff available 24/7 to aid in daily living activities such as dressing, grooming, bathing and
              toileting</li>
            <li>A partnership with resident's responsible party to best serve the individual</li>
            <li>Resident-centered activities based on their preferences, what they used to and still enjoy</li>
            <li>An environment filled with senior-friendly furnishings</li>
            <li>Dining with thoughtful social interaction and staff who extend extra assistance if needed at mealtime
            </li>
            <li>Our chefs can also provide alternative meals and snacks to accomodate unique dietary needs and
              restrictions upon request</li>
            <li>Regularly scheduled organized outings, music, games, readings, creative arts, intergenerational
              activities and more</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{> scripts}}
  {{> footer}}
</body>

</html>