<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> favicon}}
  {{> css}}
  {{> cookieConsentStyles}}
</head>

<body>
  <!-- #TODO Floor Plans -->
  {{> header}}
  <div class="container">
    <div class="row my-4">
      <div class="col">
        <h1 class="display-4 text-center">Family Testimonials</h1>
        <p class="my-4">Our Park Visalia Assisted Living &amp; Memory Care families and residents regularly and share their
        experiences and kind words to us. Their stories mean so much to us. We would like to share some of our favorite
        testimonials and memories with you. If you would like to share your own testimonial or heartwarming experience
        with us, visit XXXX.</p>
      </div>
    </div>
    <div class="row my-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <blockquote class="blockquote">
              <p>I just want to take the time to thank you and the Carefield staff for your diligence and care rendered
                during
                this difficult time. I deeply regret but fully appreciate the circumstances that prevent me from
                visiting
                my
                V. each day. I have full confidence in staff who will care for V. when I can’t be there. I have really
                appreciated the fact that Elvira and/or staff have given me periodic FaceTime visits with V. I am
                spending
                much of this down time in Siskiyou County where there is less disease and fewer restrictions so the
                ability to
                “see” V. each week is GREATLY appreciated. She is unable to respond or significantly communicate but at
                least
                I can see she is doing well.</p>
              <p>Blessings to you and the great Carefield staff – please know that you are appreciated. </p>
              <footer class="blockquote-footer font-weight-bold font-italic">Chuck Nelson</footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> scripts}}
  {{> footer}}
</body>

</html>