<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> favicon}}
  {{> css}}
</head>

<body>
  <!-- #TODO Floor Plans -->
  {{> header}}
  <div class="container">
    <div class="row my-4">
      <div class="col-xs-12">
        <h1 class="display-4 text-center my-4">Carefield Videos</h1>
        <p>Park Visalia is part of the Carefield Living family of communities. Take a look at our videos below to learn more about who Carefield is and what it means to be part of a Carefield Living community!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/h9pdZ5tWIKU"
              allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <div class="card-title">
              <h2 class="h2">Carefield Living - Focused on Employees</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pVGvI8PXvY8"
              allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <div class="card-title">
              <h2 class="h2">Carefield Living - Connected to the Community</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QQiTmP-ivNE"
              allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <div class="card-title">
              <h2 class="h2">Carefield Living - Spotlight on Carefield</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ELjUl6BP0OM"
              allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <div class="card-title">
              <h2 class="h2">Carefield Living - Employee/Resident Bonds</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> scripts}}
  {{> footer}}
</body>

</html>